.form-parent-container {
	height: 70vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-view-button-container-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-view-button-shadow {
	background-color: black !important;
	color: white !important;
}

.home-view-button-shadow-active {
	background-color: white !important;
	color: black !important;
	box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
