.notification_margin {
	margin: 1em;
}
.notification-type-error {
	border-radius: 50%;
	background-color: rgb(252, 17, 17);
	height: 9px;
	width: 10px;
}

.notification-type-success {
	border-radius: 50%;
	background-color: rgb(82, 241, 82);
	height: 9px;
	width: 10px;
}

.notification-type-container-box {
	padding-right: 7px;
}
